extends wechat_base.pug
block script
  script.
    function playSong(index) {
      $.post("/playlist",
        { user: "#{user}", token: "#{token}", jukebox:"#{jukebox}", song:index },
        function(data, status) {
          if (data) {
            $("#title").text(data['title']);
            $("#msg").text(data['msg']);
            $("#popup").show();
          }
        });
    };
block title
  title [#{jukebox}]#{title}

block body
  .weui-cells__title
    div 运行 #{uptime} 小时
      a(href='/playlist?jukebox='+jukebox style='float:right;') 正在播放
  .weui-cells
    each item, index in items
      a.weui-cell.weui-cell_access(href='javascript:playSong('+(index+1)+')')
        .weui-cell__bd
          p #{item}
        .weui-cell__ft #{index+1}
  #popup(style='display: none;')
    .weui-mask
    .weui-dialog
      .weui-dialog__hd
        strong#title.weui-dialog__title
      #msg.weui-dialog__bd
      .weui-dialog__ft
        a.weui-dialog__btn.weui-dialog__btn_primary(href='javascript:$("#popup").hide();') 确定

